
<div class="container">
  <div class="row">
    <div class="col-md-6 mt-5 mx-auto">
      <form (submit)="register()">
        <h1 class="h3 mb-3 font-weight-normal">Register</h1>
        <div class="form-group">
          <label for="name">Prénom</label>
          <input type="text" class="form-control" name="prenom" placeholder="Enter votre prénom" [(ngModel)]="credentials.prenom">
        </div>
        <div class="form-group">
          <label for="name">nom</label>
          <input type="text" class="form-control" name="nom" placeholder="Entrer votre nom" [(ngModel)]="credentials.nom">
        </div>
        <div class="form-group">
          <label for="email">adresse E-mail</label>
          <input type="email" class="form-control" name="email" placeholder="Enter email" [(ngModel)]="credentials.email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="credentials.password">
        </div>
        <div class="form-group">
          <label for="telephone">telephone</label>
          <input type="number" class="form-control" name="telephone" placeholder="telephone [(ngModel)]="credentials.telephone">
        </div>
        <div class="form-group">
          <label for="adresse">adresse</label>
          <input type="text" class="form-control" name="adresse" placeholder="adresse" [(ngModel)]="credentials.adresse">
        </div>
        <div class="form-group">
          <label for="password">Role</label>
          <input type="text" class="form-control" name="roles" placeholder="roles" [(ngModel)]="credentials.roles">
        </div>
        <button type="submit" class="btn btn-lg btn-primary btn-block">Register!</button>
      </form>
    </div>
  </div>
</div>
